:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-logo-color: #000000;
  --accent-color: #2196f3;
  --wite-background-color: #ffffff;
  --button-color: #f5f4fa;
  --accent-bacground-color: #2f303a;
  --wite-text-color: #ffffff;
  --section-bacground-color: #eeeeee;
  --alt-section-color: #e5e5e5;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --team-background-color: #f5f4fa;
}
body {
  background-color: var(--wite-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Common styles*/
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* Conteiner setings */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-site {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.team-container {
  width: 270px;
  height: 368px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-container {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.peculiarities-text-container {
  width: 270px;
  margin-left: 0;
  margin-right: 0;
}
.list-button {
  width: 611px;
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

/* Header */

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-accent {
  color: var(--text-logo-color);
}
.footer-logo {
  color: var(--wite-text-color);
}

/* Nav */

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}
.header-list .header-item + .header-item {
  margin-left: 50px;
}
.header-list .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
/* Contacts */
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .contacts-list + .contacts-list {
  margin-left: 50px;
}
.contacts-list .contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--wite-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

.hero {
  background-color: var(--accent-bacground-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.button-hero {
  font-family: Roboto;
  background-color: var(--accent-color);
  color: var(--wite-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: 0;
}

/* peculiarities */
.peculiarities-list {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.peculiarities-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.peculiarities-text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.peculiarities-list .peculiarities-text-container + .peculiarities-text-container {
  margin-left: 30px;
}

/* Work */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}
.work-item {
  padding-bottom: 0;
}

/* Team */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.team {
  background-color: var(--team-background-color);
}
.team-list {
  display: flex;
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
/* Portfolio */
.portfolio-button {
  font-family: Roboto;
  color: var(--title-text-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  border-radius: 4px;
  padding: 6px 22px;
  max-width: 145px;
  height: 38px;
  border: 0;
}

.portfolio-btn {
  margin-right: 8px;
}
.portfolio-btn:last-child {
  margin-right: 0;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--wite-text-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  width: 322px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--section-bacground-color);
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.examples {
  line-height: 1.87;
  font-size: 16px;

  width: 322px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

/* Footer */

.footer {
  background-color: var(--accent-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  line-height: 1.71;
  color: var(--wite-text-color);
  font-style: normal;
}
.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
