:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Text color */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-logo-color: #000000;
  --wite-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  /* Bacground-color */
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --wite-background-color: #ffffff;
  --button-color: #f5f4fa;
  --accent-bacground-color: #2f303a;
  --section-bacground-color: #eeeeee;
  --alt-section-color: #e5e5e5;
  --team-background-color: #f5f4fa;

  /* Line-color */
  --header-line-colour: #ececec;
}
/* Base styles */

body {
  background-color: var(--wite-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Reset styles*/

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.jpg {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}

/* Conteiner setings */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-text-container {
  width: 270px;
  margin-left: 0;
  margin-right: 0;
}

/* Header */
.header {
  border-bottom: 1px solid var(--header-line-colour);
}
/* Logo */
.logo {
  color: var(--accent-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo-accent {
  color: var(--text-logo-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Nav */
.header-menu {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-list {
  display: flex;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}

.link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-text-color);
}
/* Contacts */
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .contacts-list + .contacts-list {
  margin-left: 50px;
}
.contacts-list .contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-text-color);
}

/* Hero */

.hero-title {
  color: var(--wite-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

.hero-text-container {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: var(--accent-bacground-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-button {
  font-family: Roboto;
  background-color: var(--accent-text-color);
  color: var(--wite-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-button-color);
}

/* peculiarities */
.peculiarities-list {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.peculiarities-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.peculiarities-text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.peculiarities-list .peculiarities-text-container + .peculiarities-text-container {
  margin-left: 30px;
}

/* Work */

.work {
  padding-top: 0;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}
.work-item {
  margin-right: 30px;
}
.work-item:last-child {
  margin-right: 0;
}

/* Team */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.team {
  background-color: var(--team-background-color);
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  margin-left: auto;
  margin-right: auto;

  background: var(--wite-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}
.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* Portfolio */
.portfolio-button {
  font-family: Roboto;
  color: var(--title-text-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  border-radius: 4px;
  padding: 6px 22px;
  max-width: 145px;
  height: 38px;
  border: 0;
  margin-right: 8px;
}
.portfolio-button:last-child {
  margin-right: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--wite-text-color);
  background-color: var(--accent-color);
}

.list-button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  margin-right: 8px;
}
.portfolio-btn:last-child {
  margin-right: 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-container {
  border-top: 0;
  border-left: 1px solid var(--section-bacground-color);
  border-right: 1px solid var(--section-bacground-color);
  border-bottom: 1px solid var(--section-bacground-color);
  padding: 20px 25px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.examples {
  line-height: 1.87;
  font-size: 16px;

  width: 322px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* Footer */

.footer {
  background-color: var(--accent-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--wite-text-color);
}

.address-container {
  margin-top: 20px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link {
  line-height: 1.71;
  color: var(--wite-text-color);
  font-style: normal;
}

.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}
